.container{
    display: flex;
    flex-direction: row;
    margin-top: 10%;
    align-items: center;
    align-self: center;
    /* width: 88%; */
}
* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
  }

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
  }
  
  .form label {
    font-weight: bold;
    margin-bottom: 8px;
    font-size: 16px;
    text-align: center;
    width: 100%;
  }
  
  .form input[type="text"]
  {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .form button {
    background-color: #DFF5E1;
    color: black;
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .form button:hover {
    background-color: #45a049;
  }

  