.chat-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align everything to the left by default */
  padding: 10px;
  width:85%;
  /* max-height: 500px; */
  overflow-y: scroll;
}

#scrollContainer {
  scroll-behavior: smooth;
}

.bubble {
  margin: 10px; /* Space between bubbles */
  padding: 10px 15px; /* Padding inside bubbles */
  border-radius: 20px; /* Rounded corners */
  word-wrap: break-word; /* Break long words if necessary */
}

.form {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align everything to the left by default */
  width: 100%;
}

.question {
  background-color: #e0f7fa; /* Light blue for question bubbles */
  align-self: flex-start; /* Align questions to the left */
}

.answer-input {
  background-color: pink; /* Light green for answer input */
  align-self: flex-end; /* Align answers to the right */
}
.answer-options{
  background-color: #DFF5E1;
  align-self: flex-end;
}
.radio-options {
  display: flex;
  flex-direction: column; /* Stack radio options vertically */
  align-items: flex-end; /* Align radio buttons to the left */
}
.answer-input {
  background-color: #DFF5E1; /* Light green for answer input */
  align-self: flex-end; /* Keep answers aligned to the left */
  padding: 5px; /* Padding for the answer input */
}
