<div class="chat-container" dir="rtl">
    <p>{{ intro }}</p>

    <!-- Display the current question and answer input -->
    <form [formGroup]="conorForm" (ngSubmit)="onSubmit()" class="form" *ngIf="questions.length > currentQuestionIndex">
        <!-- Current Question Message Bubble on the Left -->
        <div class="bubble question">
            <label>{{ questions[currentQuestionIndex].label }}</label>
        </div>

        <!-- Current Answer Options -->
        <div *ngIf="showAnswers" class="bubble answer-options">
            <ng-container [ngSwitch]="questions[currentQuestionIndex].type">

                <!-- Radio Button Options -->
                <div *ngSwitchCase="'radio'" class="bubble answer-input right-align">
                    <div class="radio-container" dir="rtl">
                        <ng-container *ngFor="let option of questions[currentQuestionIndex].options">
                            <label class="radio-option">
                                <input
                                    type="radio"
                                    [formControlName]="questions[currentQuestionIndex].controlName"
                                    [value]="option.value"
                                    (change)="onAnswerSelected()"
                                />
                                {{ option.label }}
                            </label>
                        </ng-container>
                    </div>
                </div>

                <!-- Text Input Option -->
                <div *ngSwitchCase="'text'">
                    <input
                        type="text"
                        [formControlName]="questions[currentQuestionIndex].controlName"
                        (input)="onAnswerSelected()"
                    />
                </div>

            </ng-container>
        </div>
    </form>

    <!-- Show the conclusion if the last question is answered -->
    <div *ngIf="showConclusion">
        <p>{{ conclusion }}</p>
    </div>
</div>