.chat-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align everything to the left by default */
  padding: 10px;
  /* max-height: 500px; */
  overflow-y: scroll;
  direction: rtl;
}

* {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: x-large;
}

#scrollContainer {
  scroll-behavior: smooth;
}

.bubble {
  margin: 10px; /* Space between bubbles */
  padding: 10px 15px; /* Padding inside bubbles */
  border-radius: 20px; /* Rounded corners */
  word-wrap: break-word; /* Break long words if necessary */
  direction: rtl;
}

.form {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align everything to the left by default */
  direction: rtl;
}

.question {
  background-color: #e0f7fa; /* Light blue for question bubbles */
  direction: rtl;
  max-width: 60%;
}

.answer-options{
  background-color:#f1f8e9;
  align-self: flex-end;
  direction: rtl;
}
.radio-options {
  display: flex;
  flex-direction: column; /* Stack radio options vertically */
  align-items: center; /* Align radio buttons to the left */
  justify-content: center;
}
p{
  direction: rtl;
}
.answer-input {
  background-color: #f1f8e9;
  ; /* Light green for answer input */
  align-self: flex-end; /* Keep answers aligned to the left */
  padding: 5px; /* Padding for the answer input */
}
.conclusion {
  background-color: #e0f7fa;
  color: black;
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  align-self: center;
}
