<nav class="navbar">
    <div class="logo">
        <p>
        חוות מרפא 
        </p>
    </div>
    <ul>
        <li [routerLink]="['/lightup-intro']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">ברוכים הבאים</li>
        <li [routerLink]="['/conor-form']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">סט שאלות 1</li>
        <li [routerLink]="['/stress-form']" routerLinkActive="active">סט שאלות 2</li>
      <!-- Add more links as needed -->
    </ul>
</nav>
  