  .form {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 85%;
    direction: rtl;
  }
  
  /* Chat bubble styling */
  .chatbot-bubble {
    padding: 10px 15px;
    border-radius: 20px;
    margin: 5px 0;
  }
  
  /* Statement and Question Label styling (left-aligned) */
  .statement {
    background-color: #e0f7fa;
    align-self: flex-start; /* Align statement/question label to the left */
    text-align: right;
    max-width: 60%;
  }
  
  /* Answer options container aligned to the right */
  .response-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  /* Answer bubble styling (right-aligned) */
  .right-align {
    align-self: flex-ens;
  }
  
  .answer-options {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .bubble.answer-input {
    background-color: 	#f1f8e9;
    border-radius: 15px;
    padding: 8px 12px;
    margin-top: 5px;
    text-align: right;
  }
  .radio-options {
    display: flex;
    flex-direction: row; /* Align options in a row */
    justify-content: flex-start; /* Align to the right */
  }
  
  .radio-container {
    display: flex;
    flex-direction: row; /* Align items in a row */
    direction: rtl; /* Ensure the content flows right to left */
    align-items: center; /* Vertically center the items */
  }
  
  .radio-container label {
    margin: 0 10px; /* Add margin between options */
  }
  .submit-button {
    width: 30%;
    align-self: center;
    background-color: #DFF5E1;
    color: black;
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }